<h1>About the app author</h1>

<div class="intro">
<p> Once upon a time Christie spent countless hours geeking out on Prodigy message boards and tinkering with Logo. In uni she wrote VBA to pay the bills, but was then lured by the sparkle of international marketing, leaving tech on the table for a few years. She’s toiled in the trenches of the wine & spirits world and championed healthy living through the best organic brands. 
Never content with sitting still, Christie also founded, designed and developed a successful e-commerce boutique dedicated to bringing sustainable products to design-savvy, socially conscientious families.</p> 
<p> 
Currently, Christie is learning RoR and fine-tuning her frontend dev skills so she can build more Awesome.</p>
</div>
<p>
<br />
</p>

<div class="favelist">
<h4>Five Favourites</h4>
<ul>
<li><strong>Beer:</strong> Astra Arschkalt</li>
<li><strong>Grape Varietal:</strong> Zinfandel</li>
<li><strong>Fruit:</strong> Moro Blood Orange</li>
<li><strong>Running Playlist Track:</strong> Ten Thousand Hours <em>Macklemore</em></li>
<li><strong>Travel Adventure:</strong> Climbing Mount Etna</li>
</ul>
</div>
<br />
<div class="thanks">
<p><em>Thanks to all the coaches at <a href="https://twitter.com/RailsGirls_MUC" target="_blank">Rails Girls Munich 2015</a>, especially <a href="https://twitter.com/djungowski" target="_blank">Dominik</a>, <a href="https://twitter.com/juliebugmacd" target="_blank">Julie</a>, and the inimitable <a href="https://twitter.com/sareg0" target="_blank">Sara</a>.</em></p>
</div>
<br />
<%= link_to 'Back', ideas_path %>

